<div class="requirement">
	<%= requirement.name %> <strong> and it's id = </strong> <%= requirement.id %> 
	<% requirement.children.each do |child_requirement| %>
		<%= render partial: "requirement", object: child_requirement  %>
	<% end %>
</div>